.MemberCards {
    display: flex;
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    margin-left: 2vw;
    margin-top: 2vw;
    box-shadow: 0 8px 6px -6px black;
    flex-direction: column;

    .UserImage {
        flex: 3;

    }

    .UserDetails {
        display: flex;
        flex: 2;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
        align-items: center;

        .userName {
            font-family: 'Poiret One';
            font-size: 1.5vw;
            padding-bottom: 1%;
        }
    
    }
}

.MemberCards:hover{
    height: 600px;
    width: 400px;
    transition: 0.5s ease;
    // transition-delay: 0.25s;
    
    .UserDetails {
        display: flex;
        flex: 2;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        transition-delay: 0s;

        .userName {
            font-family: 'Poiret One';
            font-size: 2.5vw;
            padding-bottom: 2%;
            transition-delay: 0s;
        }
    }
}