.sign-up {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 70%;


    .buttons {
        display:flex;
        justify-content: center;
        align-content: center;
    }
}