.parent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fafafa;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 100%;
    position: absolute;


    .button {
        background-color: black;
        color: white;
        border-radius: 50px;
        border: 1px solid #bfbfbf;
        text-align: center;
        padding-right: 4%;
        padding-left: 4%;
        padding-bottom: 1%;
        font-size: 1vw;
        margin-left: 2%;
        font-weight: bold;

    }
    
    .button:hover {
        background-color: #fafafa;
        color: black;
    }
        
        
}
    




