.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(242, 242, 242, 1);
    font-family: 'Open Sans Condensed', sans-serif;
  }


  .options {
    width: 100%;
    display: flex;
    justify-content:flex-end;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;

    .option {
      padding: 3px 15px 5px 30px;
      cursor: pointer;
    }

    .option:hover {
      color: pink;
    }
  }

 