.ModalView {
    opacity: 1;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(70, 70, 70, 0.103);
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
    
    .ModalSpace {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: space-around;
        align-items: center;
        transition: 2s all ease-in-out;
        height: 70%;
        width: 60%;
        background-color: white;
        position: relative;
    }
}